.teamWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 100px;
    width: 100%;
    min-height: 1300px;
    margin-top: 8vh;
}

.teamWrapper h1 {
    margin-top: -3vh;
    margin-bottom: 3vh;
    color: #ad58ff;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 0 rgba(173, 88, 255, 0.1);
    }
    50% {
        box-shadow: 0 0 10px rgba(173, 88, 255, 0.15);
    }
}

@keyframes gradientPulse {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.teamBodyWrapper {
    position: relative;
    height: 85vh;
    min-height: 700px;
}

.teamBgLineWrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 280px;
    transform: translateY(30px);
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    animation: float 5s ease-in-out infinite;
}

.teamBgLineWrapper>img {
    width: 100%;
}

.teamBgLineWrapper> :nth-child(4),
.teamBgLineWrapper> :nth-child(5),
.teamBgLineWrapper> :nth-child(6) {
    display: none;
}

.teamMembersDetailsWrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.team {
    height: 20rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    animation: fadeInUp 0.8s ease-out forwards, float 5s ease-in-out infinite;
}

.team::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(173, 88, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(173, 88, 255, 0.1));
    background-size: 200% 200%;
    z-index: -1;
    animation: gradientPulse 8s ease infinite;
    opacity: 0.7;
    filter: blur(10px);
}

.team.visible {
    opacity: 1;
    transform: translateY(0);
    animation: float 6s ease-in-out infinite;
}

.team:hover {
    transform: translateY(-5px) scale(1.02);
    z-index: 10;
    filter: drop-shadow(0 5px 15px rgba(173, 88, 255, 0.15));
    animation-play-state: paused;
}

.team:hover .teamImageIndividual {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(173, 88, 255, 0.2);
    animation: none;
}

.teamImageIndividual {
    height: 15rem;
    object-fit: contain;
    position: relative;
    vertical-align: top;
    width: 15rem;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    border: 3px solid rgba(173, 88, 255, 0.1);
    animation: pulse 4s ease-in-out infinite;
    transform-origin: center;
    background: #fff;
    z-index: 2;
}

.teamNameDesignation {
    height: fit-content;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamMemberName {
    color: #000000;
    display: flex;
    font-weight: 700;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    font-size: 1.5rem;
    transform: translateY(0);
    opacity: 1;
}

.teamMemberDesignation {
    color: #ad58ff;
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    height: fit-content;
    justify-content: center;
    top: 2rem;
    width: fit-content;
    transform: translateY(0);
    opacity: 1;
}

.team1Img {
    border-radius: 50%;
    flex-shrink: 0;
    width: 15rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.team1 {
    margin-top: -30px;
    top: 0;
    left: 5%;
    animation-delay: 0.1s;
}

.team2 {
    margin-top: -50px;
    top: 0;
    left: 28%;
    animation-delay: 0.2s;
}

.team3 {
    margin-top: -60px;
    top: 0;
    left: 50%;
    animation-delay: 0.3s;
}

.team4 {
    margin-top: -10px;
    top: 0;
    left: 74%;
    animation-delay: 0.4s;
}

.team5 {
    margin-top: 350px;
    top: 100%;
    left: 7%;
    animation-delay: 0.5s;
}

.team6 {
    margin-top: 400px;
    top: 100%;
    left: 30%;
    animation-delay: 0.6s;
}

.team7 {
    margin-top: 430px;
    top: 100%;
    left: 54%;
    animation-delay: 0.7s;
}

.team8 {
    margin-top: 360px;
    top: 100%;
    left: 77%;
    animation-delay: 0.8s;
}

.team9 {
    margin-top: 740px;
    top: 100%;
    left: 7%;
    animation-delay: 0.8s;
}
.team10 {
    margin-top: 720px;
    top: 100%;
    left: 30%;
    animation-delay: 0.8s;
}
.team11 {
    margin-top: 710px;
    top: 100%;
    left: 54%;
    animation-delay: 0.8s;
}
.team12 {
    margin-top: 760px;
    top: 100%;
    left: 77%;
    animation-delay: 0.8s;
}

@media screen and (max-width: 1650px) {
    .teamBodyWrapper {
        height: 95vh;
    }

    .teamBgLineWrapper {
        gap: 260px;
    }

    .team1 {
        margin-top: -50px;
        top: 0;
        left: 5%;
    }

    .team2 {
        margin-top: -70px;

        top: 0;
        left: 28%;
    }

    .team3 {
        margin-top: -60px;

        top: 0;
        left: 50%;
    }

    .team4 {
        margin-top: -50px;

        top: 0;
        left: 74%;
    }

    .team5 {
        margin-top: 300px;

        top: 100%;
        left: 5%;
    }

    .team6 {
        margin-top: 330px;

        top: 100%;
        left: 28%;
    }

    .team7 {
        margin-top: 350px;
        top: 100%;
        left: 50%;
    }

    .team8 {
        margin-top: 310px;

        top: 100%;
        left: 74%;
    }

    .team9 {
        margin-top: 780px;
        top: 100%;
        left: 5%;
        animation-delay: 0.8s;
    }
    .team10 {
        margin-top: 760px;
        top: 100%;
        left: 28%;
        animation-delay: 0.8s;
    }
    .team11 {
        margin-top: 770px;
        top: 100%;
        left: 50%;
        animation-delay: 0.8s;
    }
    .team12 {
        margin-top: 780px;
        top: 100%;
        left: 74%;
        animation-delay: 0.8s;
    }
    }

@media screen and (max-width: 1200px) {
    .teamWrapper {
        margin-top: 50px;
        gap: 100px;
    }

    .teamBodyWrapper {
        height: 150vh;
    }

    .teamBgLineWrapper {
        gap: 270px;
    }

    .teamBgLineWrapper> :nth-child(4) {
        display: block;
    }

    .teamImageIndividual {
        height: 12rem;
        width: 12rem;
    }

    .team1 {
        margin-top: -70px;
        left: 3%;
    }

    .team2 {
        margin-top: -100px;
        left: 39%;
    }

    .team3 {
        margin-top: -60px;
        left: 72%;
    }

    .team4 {
        margin-top: 255px;

        top: 100%;
        left: 4%;
    }

    .team5 {
        margin-top: 310px;

        left: 39%;
    }

    .team6 {
        margin-top: 260px;

        left: 72%;
    }

    .team7 {
        margin-top: 675px;
        left: 3%;
    }

    .team8 {
        margin-top: 645px;

        left: 39%;
    }

    .team9 {
        margin-top: 690px;

        left: 72%;
    }
    .team10 {
        margin-top: 1005px;
        left: 3%;
    }

    .team11 {
        margin-top: 1060px;

        left: 39%;
    }

    .team12 {
        margin-top: 1010px;

        left: 72%;
    }
}

@media screen and (max-width: 900px) {

    .teamBodyWrapper {
        height: 143vh;
    }

    .team7 {
        margin-top: 620px;
        left: 3%;
    }

    .team8 {
        margin-top: 610px;

        left: 39%;
    }
    .team9 {
        margin-top: 620px;

        left: 72%;
    }
    .team10 {
        margin-top: 950px;
        left: 3%;
    }

    .team11 {
        margin-top: 970px;

        left: 39%;
    }

    .team12 {
        margin-top: 950px;

        left: 72%;
    }
}

@media screen and (max-width: 780px) {
    .teamBodyWrapper {
        height: 130vh;
    }

    .teamBgLineWrapper> :nth-child(3) {
        display: block;
    }

    .teamBgLineWrapper {
        gap: 250px;
    }

    .teamImageIndividual {
        height: 10rem;
        width: 10rem;
    }

    .teamMemberName {
        font-size: 1rem;
    }

    .teamMemberDesignation {
        font-size: .85rem;
    }

    .team {
        width: 12.3rem;
    }

    .team1 {
        margin-top: -100px;
        left: 3%;
    }

    .team2 {
        margin-top: -120px;
        left: 39%;
    }

    .team3 {
        margin-top: -80px;
        left: 71%;
    }

    .team4 {
        margin-top: 185px;

        left: 4%;
    }

    .team5 {
        margin-top: 220px;

        left: 38%;
    }

    .team6 {
        margin-top: 190px;

        left: 70%;
    }

    .team7 {
        margin-top: 540px;
        left: 3%;
    }

    .team8 {
        margin-top: 530px;

        left: 39%;
    }
    .team9 {
        margin-top: 550px;

        left: 71%;
    }
    .team10 {
        margin-top: 830px;
        left: 4%;
    }

    .team11 {
        margin-top: 870px;

        left: 38%;
    }

    .team12 {
        margin-top: 850px;

        left: 70%;
    }
}

@media screen and (max-width: 650px) {
    .teamWrapper {
        overflow: hidden;
    }

    .teamBodyWrapper {
        height: 160vh;
    }

    .teamBgLineWrapper> :nth-child(4),
    .teamBgLineWrapper> :nth-child(5),
    .teamBgLineWrapper> :nth-child(6) {
        display: block;
    }

    .teamBgLineWrapper {
        width: 100%;
        gap: 200px;
    }

    .teamNameDesignation {
        font-size: 1rem;
    }

    .team {
        width: 10rem;
    }

    .team1 {
        margin-top: -100px;
        top: 0;
        left: 15%;
    }

    .team2 {
        margin-top: -100px;
        top: 0%;
        left: 60%;
    }

    .team3 {
        margin-top: 130px;
        top: 0;
        left: 14%;
    }

    .team4 {
        margin-top: 140px;

        left: 59%;
    }

    .team5 {
        margin-top: 400px;

        left: 15%;
    }

    .team6 {
        margin-top: 400px;

        left: 60%;
    }

    .team7 {
        margin-top: 650px;
        left: 14%;
    }

    .team8 {
        margin-top: 660px;

        left: 59%;
    }
    .team9 {
        margin-top: 920px;

        left: 15%;
    }

    .team10 {
        margin-top: 920px;

        left: 60%;
    }

    .team11 {
        margin-top: 1170px;
        left: 14%;
    }

    .team12 {
        margin-top: 1170px;

        left: 59%;
    }
}

@media screen and (max-height: 900px) {
    .teamBodyWrapper {
        height: 155vh;
    }
}

/* @media screen and (max-height: 600px) {
    .teamBodyWrapper {
        height: 155vh;
    }
} */

@media screen and (max-width: 480px) {

    .teamBodyWrapper {
        height: 233vh;
    }

    .team1 {
        margin-top: -120px;
        top: 0;
        left: 7%;
    }

    .team2 {
        margin-top: -120px;
        top: 0%;
        left: 52%;
    }

    .team3 {
        margin-top: 115px;
        top: 0;
        left: 8%;
    }

    .team4 {
        margin-top: 120px;

        left: 53%;
    }

    .team5 {
        margin-top: 365px;

        left: 6%;
    }

    .team6 {
        margin-top: 360px;

        left: 51%;
    }

    .team7 {
        margin-top: 600px;
        left: 7%;
    }

    .team8 {
        margin-top: 590px;

        left: 52%;
    }
    .team7 {
        margin-top: 600px;
        left: 7%;
    }

    .team8 {
        margin-top: 590px;

        left: 52%;
    }
    .team9 {
        margin-top: 850px;
        left: 7%;
    }

    .team10 {
        margin-top: 850px;

        left: 52%;
    }
    .team11 {
        margin-top: 1090px;
        left: 7%;
    }

    .team12 {
        margin-top: 1085px;

        left: 52%;
    }
    .teamWrapper {
        overflow: visible;
        min-height: auto;
        margin-bottom: 10em;
    }

    .teamBodyWrapper {
        height: auto !important;
        min-height: auto !important;
    }

    
}

@media screen and (max-width: 380px) {
    .teamBodyWrapper {
        height: 210vh;
    }

    .teamImageIndividual {
        height: 8.5rem;
        width: 8.5rem;
    }

    .teamMemberName {
        font-size: 0.9rem;
    }
    .teamBgLineWrapper {
        gap: 180px;
    }

    .team {
        width: 9rem;
    }

    .team1 {
        margin-top: -115px;
        left: 7%;
    }

    .team2 {
        margin-top: -115px;
        left: 51%;
    }

    .team3 {
        margin-top: 100px;
        left: 8%;
    }

    .team4 {
        margin-top: 105px;

        left: 52%;
    }

    .team5 {
        margin-top: 310px;

        left: 7%;
    }

    .team6 {
        margin-top: 315px;

        left: 51%;
    }

    .team7 {
        margin-top: 520px;
        left: 8%;
    }

    .team8 {
        margin-top: 523px;

        left: 52%;
    }
    .team9 {
        margin-top: 740px;

        left: 8%;
    }
    .team10 {
        margin-top: 743px;

        left: 52%;
    }
    .team11 {
        margin-top: 950px;

        left: 8%;
    }
    .team12 {
        margin-top: 953px;

        left: 52%;
    }
}

/* @media screen and (max-width: 1200px) and (max-height: 780px) {
    .teamBodyWrapper {
        min-height: 1000px;
    }
}

@media screen and (max-width: 600px) and (max-height: 800px) {
    .teamBodyWrapper {
        min-height: 920px;
    }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
    .teamBodyWrapper {
        min-height: 970px;
    }
}

@media screen and (max-width: 400px) and (max-height: 800px) {
    .teamBodyWrapper {
        min-height: 920px;
    }
} */